<h2 class="padding">
  Cats list By Owner Gender!
</h2>
<div *ngFor='let key of genderKeys' class="padding">
  <h3> {{key}}</h3>
  
    <div *ngFor='let pet of getSortedCats(key)'>
      {{pet.name}}     
    </div>
  
  <br/>
</div>