<h1>Pets by Owner Gender</h1>

<p>This component demonstrates fetching data from  HTTP Client</p>

<input type="text" [(ngModel)]="petType" width="50" />
<button md-button (click)="loadPets()">Search</button>

<p *ngIf="!petResult"><em>Loading...</em></p>

<div *ngIf="petResult">
    <ul class="table">
        <li *ngFor="let item of petResult">
            <h1>{{item.gender}}</h1>
            <ul>
                <li *ngFor="let pet of item.pets">
                    {{pet.name}}
                </li>
            </ul>
        </li>
    </ul>

</div>

